{% extends template.self %}

{% block faq_header_brand %}
<img src="http://www.gravatar.com/avatar/3f7fa472f24ae9ea4caaefd3a669f6ea.jpg?s=50&r=g&d=identicon" />
{% endblock %}

{% block faq_menu %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="http://jaredleonmorgan.net" target="_blank">Blog</a></li>
    <li><a href="http://blahcadepinball.com" target="_blank">BlahCade Podcast</a></li>
    <li><a>|</a></li>
    <li><a href="https://www.gitbook.com/book/jaredmorgs/pinball-arcade-for-android-new-ui-help-center/discussions" target="_blank">Suggest a Question</a></li>
</ul>
{% endblock %}
